 /*#target { width: 0px; height: 0px; padding: 0.0em; }

*/
 .ui-widget-content {
     position: absolute;
     top: 40px;
     left: 110px;
 }

 .ui-widget-header {
     border: none;
     background: transparent;
 }
 .ui-widget-content {
     border: none;
     background: transparent;
 }


.ui-resizable {
    width: 100px;
    height: 100px;
}
body
{
    background-image:  url("http://i.imgur.com/DwGAVlC.jpg");
}

 }
 .ui-widget-content {
     background-color: white;
     display: inline-block;

 }
 .ui-widget-content img:hover {
     opacity: .5;

 }


