body {
    background-image:  url("http://i.imgur.com/DwGAVlC.jpg");
}
.ui-widget-content {
     position: absolute;
     top: 40px;
     left: 110px;
 }

 .ui-widget-header {
     border: none;
     background: transparent;
 }
 .ui-widget-content {
     border: none;
     background: transparent;
     display: inline-block;;
 }
 .ui-resizable {
    width: 100px;
    height: 100px;
}

 .ui-widget-content img:hover {
     opacity: .5;
 }




